
.images {
    flex: 1; 
    cursor: pointer;
}

.images:hover {
    flex: 3;
}

.img1 {
    width: 200px;
    height: 250px;
}

.img2 {
    width: 200px;
    height: 250px;
}

.img3 {
    width: 200px;
    height: 250px;
}
.img4 {
    width: 200px;
    height: 250px;
}
.img5 {
    width: 200px;
    height: 250px;
}